nPVR/PMService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="urn:ProgramManagementService" xmlns:intf="urn:ProgramManagementService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ProgramManagementService">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:ProgramManagementService" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="AssetModel">
				<xs:sequence>
					<xs:element name="Schedule" type="impl:ScheduleModel"/>
					<xs:element name="ListOfMetaData" type="impl:ListOfMetaDataModel" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="programID" type="xs:string" use="required"/>
				<xs:attribute name="assetName" type="xs:string"/>
				<xs:attribute name="assetID" type="xs:int"/>
				<xs:attribute name="url" type="xs:string"/>
				<xs:attribute name="provider" type="xs:string"/>
				<xs:attribute name="bitRate" type="xs:int" default="0"/>
			</xs:complexType>
			<xs:complexType name="ScheduleModel">
				<xs:attribute name="scheduleID" type="xs:int" use="required"/>
				<xs:attribute name="channelID" type="xs:int"/>
				<xs:attribute name="channelName" type="xs:string"/>
				<xs:attribute name="startTime" type="xs:string"/>
				<xs:attribute name="endTime" type="xs:string"/>
				<xs:attribute name="priority" type="xs:int"/>
			</xs:complexType>
			<xs:complexType name="MetaDataModel">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="mdUID" type="xs:int" use="required"/>
						<xs:attribute name="mdName" type="xs:string" use="required"/>
						<xs:attribute name="mdType" type="xs:int" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="ListOfMetaDataModel">
				<xs:sequence>
					<xs:element name="MetaData" type="impl:MetaDataModel" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="serviceResponse">
		<wsdl:part name="serviceReturn" type="intf:AssetModel"/>
	</wsdl:message>
	<wsdl:message name="serviceRequest">
		<wsdl:part name="asset" type="intf:AssetModel"/>
	</wsdl:message>
	<wsdl:portType name="ProgramManagementService">
		<wsdl:operation name="queryMetaData" parameterOrder="asset">
			<wsdl:input name="serviceRequest" message="impl:serviceRequest"/>
			<wsdl:output name="serviceResponse" message="impl:serviceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProgramManagementServiceSoapBinding" type="impl:ProgramManagementService">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="queryMetaData">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ProgramManagementService"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ProgramManagementService"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProgramManagementServiceService">
		<wsdl:port name="ProgramManagementService" binding="impl:ProgramManagementServiceSoapBinding">
			<wsdlsoap:address location="http://localhost:8080/services/ProgramManagementService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
