TianShan/VirtualStreamingService/Cisco/SoapContentStore/wsdl/CiscoAIMNotification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:tns="http://cisco.aim.ns"
xmlns:s="http://www.w3.org/2001/XMLSchema"
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
targetNamespace="http://cisco.aim.ns"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cisco.aim.ns">
      <s:element name="AIMPackageNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ADIURL" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="PackageName" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AIMPackageNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificationResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AIMPackageNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:AIMPackageNotification"/>
  </wsdl:message>
  <wsdl:message name="AIMPackageNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:AIMPackageNotificationResponse"/>
  </wsdl:message>
  <wsdl:portType name="CiscoAIMNotificationSoap11">
    <wsdl:operation name="AIMPackageNotification">
      <wsdl:input message="tns:AIMPackageNotificationSoapIn"/>
      <wsdl:output message="tns:AIMPackageNotificationSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CiscoAIMNotificationSoap11" type="tns:CiscoAIMNotificationSoap11">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AIMPackageNotification">
      <soap:operation soapAction="http://cisco.aim.ns/AIMPackageNotification" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CiscoAIMNotificationSoap12" type="tns:CiscoAIMNotificationSoap11">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AIMPackageNotification">
      <soap12:operation soapAction="http://cisco.aim.ns/AIMPackageNotification" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap12:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CiscoAIMNotification">
    <wsdl:port name="CiscoAIMNotificationSoap11" binding="tns:CiscoAIMNotificationSoap11">
      <soap:address location="http://localhost:9792"/>
    </wsdl:port>
    <wsdl:port name="CiscoAIMNotificationSoap12" binding="tns:CiscoAIMNotificationSoap12">
      <soap12:address location="http://localhost:9793"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>