Telewest/MODPlugin/MODAuthorization/MoDSoapInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.8.0.41:90/services/MoDSoapInterface" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.8.0.41:90/services/MoDSoapInterface" xmlns:intf="http://10.8.0.41:90/services/MoDSoapInterface" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://model.ote.izq.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types><schema targetNamespace="http://model.ote.izq.com" xmlns="http://www.w3.org/2001/XMLSchema"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="MoDSoapResultModel"><sequence><element name="price" type="xsd:double"/><element name="rentalDuration" type="xsd:int"/><element name="result" type="xsd:int"/></sequence></complexType><complexType name="MoDSoapModel"><sequence><element name="deviceID" nillable="true" type="xsd:string"/><element name="errorCode" nillable="true" type="xsd:string"/><element name="providerAssetID" nillable="true" type="xsd:string"/><element name="providerID" nillable="true" type="xsd:string"/><element name="purchaseTime" nillable="true" type="xsd:string"/><element name="streamID" nillable="true" type="xsd:string"/><element name="ticketID" nillable="true" type="xsd:string"/></sequence></complexType></schema></wsdl:types>
  <wsdl:message name="setupSOAPCommunicateRequest">
    <wsdl:part name="model" type="tns1:MoDSoapModel"/>
  </wsdl:message>
  <wsdl:message name="tearDownSOAPCommunicateRequest">
    <wsdl:part name="model" type="tns1:MoDSoapModel"/>
  </wsdl:message>
  <wsdl:message name="tearDownSOAPCommunicateResponse">
    <wsdl:part name="tearDownSOAPCommunicateReturn" type="tns1:MoDSoapResultModel"/>
  </wsdl:message>
  <wsdl:message name="setupSOAPCommunicateResponse">
    <wsdl:part name="setupSOAPCommunicateReturn" type="tns1:MoDSoapResultModel"/>
  </wsdl:message>
  <wsdl:portType name="MoDSoapInterface">
    <wsdl:operation name="setupSOAPCommunicate" parameterOrder="model">
      <wsdl:input message="impl:setupSOAPCommunicateRequest" name="setupSOAPCommunicateRequest"/>
      <wsdl:output message="impl:setupSOAPCommunicateResponse" name="setupSOAPCommunicateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="tearDownSOAPCommunicate" parameterOrder="model">
      <wsdl:input message="impl:tearDownSOAPCommunicateRequest" name="tearDownSOAPCommunicateRequest"/>
      <wsdl:output message="impl:tearDownSOAPCommunicateResponse" name="tearDownSOAPCommunicateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MoDSoapInterfaceSoapBinding" type="impl:MoDSoapInterface">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setupSOAPCommunicate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="setupSOAPCommunicateRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.ote.izq.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="setupSOAPCommunicateResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.8.0.41:90/services/MoDSoapInterface" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tearDownSOAPCommunicate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="tearDownSOAPCommunicateRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.ote.izq.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="tearDownSOAPCommunicateResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.8.0.41:90/services/MoDSoapInterface" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MoDSoapInterfaceService">
    <wsdl:port binding="impl:MoDSoapInterfaceSoapBinding" name="MoDSoapInterface">
      <wsdlsoap:address location="http://10.8.0.41:90/services/MoDSoapInterface"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>